@use './../variables' as *;

.accordion-wrapper {
  max-width: 1300px;
  margin-left: 0;
  background: transparent;

  .accordion-item {
    background: transparent;
    border: none;
    margin-bottom: 1.25rem;

    .accordion-button {
      background: transparent;
      font-size: 1.5rem;
      font-weight: 600;
      color: #000;
      margin-right: 1rem;
      display: flex;
      align-items: center;

      &::after {
        content: '';
        background-image: url('/static/landing/img/Vector.svg');
        background-repeat: no-repeat;
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        margin-left: 1rem;
        transform: rotate(0deg);
        transition: transform 0.3s ease;
        filter: brightness(0%);
      }

      &:not(.collapsed)::after {
        transform: rotate(180deg);
      }

      &:focus {
        box-shadow: none;
      }
    }

    .accordion-collapse {
      border: none;
      transition: height 0.4s ease;
    }

    .accordion-body {
      background: transparent;
      padding: 1.25rem 0 0;

      .table-wrap {
        overflow: hidden;

        table {
          width: 100%;
          margin-bottom: 0;

          th {
            background: #b0c9fc !important;
            font-weight: 600;
          }

          th,
          td {
            border: 2px solid #000;
            padding: 12px 16px;
            vertical-align: top;
            background: #e3e1e1;
            text-align: left;
            font-size: 1.125rem;
          }
          .table-wrap table td ul {
            list-style: none;
            padding-left: 28px;

            li::before {
              content: '•';
              color: #1a3daa;
              font-weight: bold;
              position: absolute;
              left: 0;
            }
          }
        }
      }
    }
  }
}

/* ====== АДАПТИВ ====== */
@media (max-width: 768px) {
  .accordion-wrapper {
    .accordion-button {
      font-size: 1rem;
    }

    .accordion-body {
      padding-top: 1rem;
    }
  }
}

// ====== СТРОКА "СКАЧАТЬ ПАМЯТКУ" ======
.attestation-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-right: 1rem;
  margin-left: 1rem;

  &__text {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    line-height: 1.4;
    max-width: 75%;
  }

  &__btn {
    display: inline-block;
    background: $orange;
    color: #fff !important;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    white-space: nowrap;
    transition: background 0.2s ease;

    &:hover {
      background: $hover_orange;
      color: #fff;
    }
  }

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    &__text {
      max-width: 100%;
      font-size: 1rem;
    }

    &__btn {
      width: 100%;
      text-align: center;
    }
  }
}
