{% load static %}
 
 <!-- Гармошка -->
  <section class="container py-3">
    <div class="accordion-wrapper">
        <button class="accordion-toggle" id="normative-toggle">
        Нормативные документы в сфере независимой оценки квалификации
        <img
            src="{% static 'landing/img/Vector.svg' %}"
            alt="toggle"
            class="accordion-icon"
        />
        </button>

        <div class="accordion-content" id="normative-content">
        <ul class="normative-list">
            <li>Приказ Минтруда России от 16.12.2020 N 911н "Об утверждении профессионального стандарта "Специалист в сфере промышленной безопасности"</li>
            <li>Федеральный закон от 21.07.1997 N 116-ФЗ "О промышленной безопасности опасных производственных объектов"</li>
            <li>Приказ Ростехнадзора от 20.02.2024 N 60 "О внесении изменений в федеральные нормы и правила в области промышленной безопасности "Правила проведения экспертизы промышленной безопасности", утвержденные приказом Федеральной службы по экологическому, технологическому и атомному надзору от 20 октября 2020 г. N 420"</li>
            <li>Приказ Ростехнадзора от 20.10.2020 N 420 "Об утверждении федеральных норм и правил в области промышленной безопасности "Правила проведения экспертизы промышленной безопасности"</li>
            <li>Федеральный закон от 25.12.2023 N 637-ФЗ "О внесении изменений в Федеральный закон "О промышленной безопасности опасных производственных объектов" и отдельные законодательные акты Российской Федерации"</li>
            <li>Федеральный закон от 03.07.2016 N 238-ФЗ "О независимой оценке квалификации"</li>
            <li>Постановление Правительства РФ от 16.11.2016 N 1204 "Об утверждении Правил проведения центром оценки квалификаций независимой оценки квалификации в форме профессионального экзамена"</li>
            <li>Приказ Минтруда России от 19.12.2016 N 759н "Об утверждении требований к центрам оценки квалификаций и Порядка отбора организаций для наделения их полномочиями по проведению независимой оценки квалификации и прекращения этих полномочий"</li>
            <li>Постановление от 27 июня 2016 г. n 584 Об особенностях применения профессиональных стандартов в части требований, обязательных для применения государственными внебюджетными фондами российской федерации, государственными или муниципальными учреждениями, государственными или муниципальными унитарными предприятиями, а также государственными корпорациями, государственными компаниями и хозяйственными обществами, более пятидесяти процентов акций (долей) в уставном капитале которых находится в государственной собственности или муниципальной собственности</li>
            <li>Приказ Минтруда России от 01.11.2016 N 601н "Об утверждении Положения о разработке оценочных средств для проведения независимой оценки квалификации"</li>
            <li>Приказ Минтруда России от 01.12.2016 N 701н "Об утверждении Положения об апелляционной комиссии по рассмотрению жалоб, связанных с результатами прохождения профессионального экзамена и выдачей свидетельства о квалификации"</li>
            <li>Приказ Минтруда России от 02.12.2016 N 706н"Об утверждении образца заявления для проведения независимой оценки квалификации и Порядка подачи такого заявления"</li>
            <li>Приказ Минтруда России от 11.07.2022 N 410н "Об утверждении Положения о разработке наименований квалификаций и требований к квалификации, на соответствие которым проводится независимая оценка квалификации"</li>
            <li>Приказ Минтруда России от 12.12.2016 N 725н "Об утверждении формы бланка свидетельства о квалификации и приложения к нему, технических требований к бланку свидетельства о квалификации, порядка заполнения бланка свидетельства о квалификации и выдачи его дубликата, а также формы заключения о прохождении профессионального экзамена"</li>
            <li>Приказ Минтруда России от 14.12.2016 N 729н "Об утверждении Порядка осуществления мониторинга и контроля в сфере независимой оценки квалификации"</li>
            <li>Приказ Минтруда России от 15.11.2016 N 649н "Об утверждении Порядка формирования и ведения реестра сведений о проведении независимой оценки квалификации и доступа к ним, а также перечня сведений, содержащихся в указанном реестре"</li>
            <li>Приказ Минтруда России от 19.12.2016 N 758н "Об утверждении Примерного положения о совете по профессиональным квалификациям и Порядка наделения совета по профессиональным квалификациям полномочиями по организации проведения независимой оценки квалификации по определенному виду профессиональной деятельности и прекращения этих полномочий"</li>
        </ul>
        </div>
    </div>
    </section>