{% load static %}

<section class="container py-5">
    <div class="steps-grid">
        <div class="step-item">
        <div class="step-number">1<span>шаг</span></div>
        <p>Выберите<br>программу</p>
        </div>

        <div class="step-item">
        <div class="step-number">2<span>шаг</span></div>
        <p>Скачайте и<br>заполните заявление</p>
        </div>

        <div class="step-item">
        <div class="step-number">3<span>шаг</span></div>
        <p>Оформите заявку<br>и прикрепите заявление</p>
        </div>

        <div class="step-item">
        <div class="step-number">4<span>шаг</span></div>
        <p>Ожидайте с вами<br>свяжутся</p>
        </div>
    </div>
    </section>