@use "../variables" as *;

.accordion-wrapper {
  max-width: 1400px;
}

.accordion-toggle {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  color: #000;
  filter: brightness(0%);

  .accordion-icon {
    width: 20px;
    height: 20px;
    margin-left: 1.5rem;
    transition: transform 0.3s ease;
  }

  &.active .accordion-icon {
    transform: rotate(180deg);
  }
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease;
  margin-top: 0;

  &.open {
    max-height: 2000px;
    opacity: 1;
    margin-top: 15px;
  }
}

/* Список документов */
.normative-list {
  list-style: disc;
  padding-left: 25px;
  background: $card;
  border-radius: 40px;
  padding: 25px 30px;
  margin: 0;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000;

  li {
    margin-bottom: 1.5rem;
  }
}
