@use "../variables" as *;

.programs-section {
  max-width: 1400px;
  margin: 0 auto;

  .programs-title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
  }

  .programs-subtitle {
    font-size: 1rem;
    color: #4E4E4E;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .programs-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    font-size: 1.125rem;
    line-height: 1.6;

    td {
      padding: 20px 18px;
      vertical-align: top;
      border: none;
    }

    .program-num {
      width: 4%;
      font-weight: 600;
      white-space: nowrap;
    }

    .program-text {
      strong {
        font-weight: 600;
      }
    }

    // чередование фонов
    tbody tr:nth-child(odd) td {
      background: #F1F1F1;
    }

    tbody tr:nth-child(even) td {
      background: #B0C9FC;
    }
  }

  // переиспользуем стили кнопки
  .btn-orange {
    background-color: $orange;
    color: #fff;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      background-color: darken($orange, 8%);
    }
  }
}