{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}Учебный центр Безопасность Промышленности{% endblock %}
    </title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@400,500;0,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
    />


    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />

    <!-- Custom CSS -->
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'landing/css/base/style.css' %}" />
    {% endblock %}
  </head>
  <body>
    <div class="page-wrapper">
    <div class="floating-burger d-lg-none" id="floatingBurger">
      <div class="burger-icon"></div>
    </div>
    <div class="mobile-menu-overlay" id="mobileMenuOverlay"></div>
    <div class="mobile-menu d-lg-none" id="mobileMenu">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">О нас</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
          >
            Обучение
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'minstroy' %}">Подготовка экспертов к аттестации в Минстрое РФ</a></li>
            <li><a class="dropdown-item" href="{% url 'nok' %}">Подготовка экспертов и специалистов к Независимой оценке квалификации</a></li>
            <li><a class="dropdown-item" href="{% url 'preparation' %}">Подготовка специалистов в области промышленной безопасности</a></li>
            <li><a class="dropdown-item" href="{% url 'safety' %}">Обучение по охране труда</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
          >
            Аттестация и оценка квалификации
          </a>
          <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'attestation' %}">Аттестация специалистов неразрушающего контроля</a></li>
                <li><a class="dropdown-item" href="{% url 'TD' %}">Аттестация специалистов по техническому диагностированию</a></li>
                <li>
                  <a class="dropdown-item" href="{% url 'IO' %}">Аттестация экспертов инспекционных организаций</a>
                  <li><a class="dropdown-item" href="{% url 'NK' %}">Аттестация лабораторий неразрушающего контроля</a></li>
                  <li><a class="dropdown-item" href="{% url 'exam' %}">Сдача профессионального экзамена в рамках независимой<br>оценки квалификаций по Профессиональному стандарту<br>«Специалист в сфере промышленной безопасности»</a></li>
                </li>
              </ul>
          
{% if landing_features.SHOW_SERVICES_MENU %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle custom-dropdown-toggle" href="#" data-bs-toggle="dropdown">
    Услуги
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="{% url 'threed' %}">Создание интерактивных образовательных материалов</a>
    </li>
  </ul>
</li>
{% endif %}

        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'docs' %}">Разрешительные документы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'news:news_list' %}">Новости</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
        </li>
        </ul>
      </ul>
    </div>
    <!-- Верхняя полоса с контактами -->
    <div
      class="top-bar text-white py-2 {% if request.resolver_match.url_name == 'index' %}top-bar-with-bg{% else %}top-bar-simple{% endif %}"
    >
    {% comment %} {% elif request.resolver_match.url_name == 'threed' %}top-bar-with-bg-3d {% endcomment %}
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <a href="{% url 'index' %}">
              <img
                src="{% static 'landing/img/лого белый 2.svg' %}"
                class="top-bar-logo"
              />
            </a>
          </div>
          <div class="col-md-6">
            <div
              class="contact-info d-flex align-items-center justify-content-end"
            >
              <div class="contact-items text-end me-3">
                <div
                  class="contact-item d-flex align-items-center justify-content-end mb-1"
                >
                  <img
                    src="{% static 'landing/img/phone.svg' %}"
                    class="contact-icon me-2"
                    alt="Телефон"
                  />
                  <small>+7 (495) 230-12-14</small>
                </div>
                <div
                  class="contact-item d-flex align-items-center justify-content-end"
                >
                  <img
                    src="{% static 'landing/img/email.svg' %}"
                    class="contact-icon me-2"
                    alt="Email"
                  />
                  <small><a href="mailto:ucbp@bezopprom.ru">ucbp@bezopprom.ru</a>; <a href="mailto:ucbp@yandex.ru">ucbp@yandex.ru</a></small>
                </div>
              </div>
              <button class="btn btn-outline-light btn-sm" data-bs-toggle="modal" data-bs-target="#callbackModal">
                Заказать звонок
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Основная навигация -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}" style="text-wrap: nowrap;">О нас</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle custom-dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
              >
                Обучение
                <img
                  src="{% static 'landing/img/Vector.svg' %}"
                  class="dropdown-custom-icon"
                  alt=""
                />
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'minstroy' %}">Подготовка экспертов к аттестации в Минстрое РФ</a></li>
                <li><a class="dropdown-item" href="{% url 'nok' %}">Подготовка экспертов и специалистов к Независимой оценке квалификации</a></li>
                <li><a class="dropdown-item" href="{% url 'preparation' %}">Подготовка специалистов в области промышленной безопасности</a></li>
                <li><a class="dropdown-item" href="{% url 'safety' %}">Обучение по охране труда</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle custom-dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
              >
                Аттестация
                <img
                  src="{% static 'landing/img/Vector.svg' %}"
                  class="dropdown-custom-icon"
                  alt=""
                />
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'attestation' %}">Аттестация специалистов неразрушающего контроля</a></li>
                <li><a class="dropdown-item" href="{% url 'TD' %}">Аттестация специалистов по техническому диагностированию</a></li>
                <li>
                  <a class="dropdown-item" href="{% url 'IO' %}">Аттестация экспертов инспекционных организаций</a>
                  <a class="dropdown-item" href="{% url 'NK' %}">Аттестация лабораторий неразрушающего контроля</a>
                  <a class="dropdown-item" href="{% url 'exam' %}">Сдача профессионального экзамена в рамках независимой<br>оценки квалификаций по Профессиональному стандарту<br>«Специалист в сфере промышленной безопасности»</a>
                </li>
              </ul>
            </li>
{% if landing_features.SHOW_SERVICES_MENU %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle custom-dropdown-toggle" href="#" data-bs-toggle="dropdown">
    Услуги
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="{% url 'threed' %}">Создание интерактивных образовательных материалов</a>
    </li>
  </ul>
</li>
{% endif %}

            <li class="nav-item">
              <a class="nav-link" href="{% url 'docs' %}">Разрешительные документы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'news:news_list' %}">Новости</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <main>{% block content %}{% endblock %}</main>

    <!-- Footer -->
    <footer class="footer bg-dark text-white">
      <div class="container">
        <div class="footer-content py-4">
          <div class="row align-items-center">
            <!-- Логотип слева -->
            <div class="col-md-3">
              <div class="footer-logo">
                <a href="{% url 'index' %}">
                  <img
                    src="{% static 'landing/img/лого белый 2.svg' %}"
                    class="logo-img"
                    alt="Логотип"
                  />
                </a>
              </div>
            </div>

            <!-- Контакты справа -->
            <div class="col-md-9">
              <div class="footer-contacts text-md-end">
                <!-- Телефон -->
                <div
                  class="contact-item d-flex align-items-center justify-content-md-end mb-2"
                >
                  <img
                    src="{% static 'landing/img/phone.svg' %}"
                    class="contact-icon me-2"
                    alt="Телефон"
                  />
                  <span class="contact-text">+7 (495) 230-12-14</span>
                </div>

                <!-- Email -->
                <div
                  class="contact-item d-flex align-items-center justify-content-md-end mb-2"
                >
                  <img
                    src="{% static 'landing/img/email.svg' %}"
                    class="contact-icon me-2"
                    alt="Email"
                  />
                  <span class="contact-text"
                    ><a href="mailto:ucbp@bezopprom.ru">ucbp@bezopprom.ru</a>; <a href="mailto:ucbp@yandex.ru">ucbp@yandex.ru</a></span
                  >
                </div>

                <!-- Адрес -->
                <div
                  class="contact-item d-flex align-items-center justify-content-md-end mb-3"
                >
                  <img
                    src="{% static 'landing/img/location.svg' %}"
                    class="contact-icon me-2"
                    alt="Адрес"
                  />
                  <span class="contact-text">
										Россия, 115280, Москва, ул. Ленинская Слобода, д. 19
									</span>
                </div>

                <!-- Кнопка -->
                <button class="btn btn-outline-light btn-sm" data-bs-toggle="modal" data-bs-target="#callbackModal">
                  Заказать звонок
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    </div>
  <!-- Модалка Bootstrap -->
  <div class="modal fade" id="callbackModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content callback-modal rounded-4 shadow-lg">

        <!-- Кнопка закрытия -->
        <button type="button" class="btn-close position-absolute end-0 mt-1 me-3" data-bs-dismiss="modal" aria-label="Закрыть"></button>

        <!-- форма -->
        <div class="callback-step" id="callbackFormStep">
          <h5 class="modal-title">Заказать обратный звонок</h5>
          <p class="text-muted small mb-4">
            Отправьте нам свой номер телефона<br>и мы Вам перезвоним
          </p>

          <form id="callbackForm"
                method="post"
                action="{% url 'callback_request' %}">
            {% csrf_token %}
            <div class="form-group mb-3 position-relative">
              <input type="text"
                    id="callback_name"
                    class="form-control callback-input ps-3 pe-5"
                    placeholder="Имя"
                    required>
              <i class="bi bi-person position-absolute top-50 end-0 translate-middle-y me-3"></i>
            </div>

            <div class="form-group mb-4 position-relative">
              <input type="tel"
                    id="callback_phone"
                    class="form-control callback-input ps-3 pe-5"
                    placeholder="Телефон"
                    required>
              <i class="bi bi-telephone position-absolute top-50 end-0 translate-middle-y me-3"></i>
            </div>

            <button type="submit" class="btn w-100 text-white callback-submit-btn">
              Отправить
            </button>
          </form>
        </div>

        <!-- заявка отправлена -->
        <div class="callback-step text-center" id="callbackSuccessStep" style="display: none;">
          <h5 class="fw-semibold mb-3">Заявка отправлена</h5>
          <div class="checkmark-wrapper">
            <img src="{% static 'landing/img/check.svg' %}" alt="✓" class="success-icon">
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Swiper JS + CSS-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <!-- Custom JS -->
    {% block extra_js %}
    <script src="{% static 'landing/js/main.js' %}"></script>
    {% endblock %}
  </body>
</html>
