{% extends "landing/base.html" %}
{% load static %}
{% load accordion_tags %} 
{% load chunk_tags %} 

{% block title %}Аттестация специалистов по техническому диагностированию (ТД){% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'landing/css/docs/style.css' %}">
{% endblock %}

{% block content %}
<section class="docs-page" style="background-image: url('{% static 'landing/img/BGDocs.svg' %}');">
  <div class="container">
    <div class="docs-content">
      <h3>Разрешительные документы АНО ДПО "УЦ «Безопасность в промышленности»"</h3>
      <p>
        Учебный центр имеет государственную образовательную лицензию. Ознакомиться со всеми документами можно на нашем сайте.
        Чтобы проверить данные лицензии, нужно просто перейти на сайт и ввести номер нашей лицензии.
      </p>

      <ul class="docs-list">
        <li>{% chunk 'docs1' %}</li>
        <li>{% chunk 'docs2' %}</li>
        <li>{% chunk 'docs3' %}</li>
        <li>{% chunk 'docs4' %}</li>
        <li>{% chunk 'docs5' %}</li>
        <li>{% chunk 'docs6' %}</li>
        <li>{% chunk 'docs7' %}</li>
        <li>{% chunk 'docs8' %}</li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% endblock %}
