{% extends "landing/base.html" %}
{% load static %}

{% block title %}Подготовка экспертов к аттестации в Минстрое РФ{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'landing/css/minstroy/list.css' %}">
{% endblock %}

{% block content %}
<section class="programs-section container py-5">
  <h4 class="programs-title">
    Перечень программ, соответствующих направлениям деятельности экспертов
  </h4>
  <p class="programs-subtitle">
    Утверждён Приказом Минстроя РФ от 9 ноября 2022 г. № 955/пр, вступившим в силу 6 февраля 2023 г.
  </p>

  <table class="programs-table mt-4">
    <tbody>
      {% for program in page_obj %}
        <tr>
          <td class="program-text">
            <strong>{{ program.title }}</strong><br>
            {{ program.description|safe }}
          </td>
        </tr>
      {% empty %}
        <tr><td colspan="2">Пока нет доступных программ.</td></tr>
      {% endfor %}
    </tbody>
  </table>

 {% include "landing/partials/pagination.html" %}
</section>

{% endblock %}
