{% extends "landing/base.html" %}
{% load static %}
{% load accordion_tags%}

{% block title %}Подготовка экспертов и специалистов к Независимой оценке квалификации (НОК){% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'landing/css/nok/style.css' %}">
{% endblock %}

{% block content %}
<div class="nok-page">
    <section class="container py-5">
        <h2 class="nok-title">
            Подготовка экспертов и специалистов<br>
            к Независимой оценке квалификации (НОК)
        </h2>
    <h2 class="steps-title">Как отправить заявку</h2>
    </section>

  {% include "landing/partials/steps.html" %}

  {% include "landing/partials/qualifications_table.html" %}

  <!-- Наши эксперты -->
  <section class="experts-section py-5">
    <div class="container position-relative">
        <h4 class="nok-experts-title">Наши эксперты</h4>

        <div class="swiper nok-swiper">
        <div class="swiper-wrapper">
            {% for expert in experts %}
            <div class="swiper-slide expert-card">
            {% if expert.photo %}
                <div class="expert-photo" style="background-image: url('{{ expert.photo.url }}');"></div>
            {% else %}
                <div class="expert-photo" style="background-image: url('{% static "landing/img/avatar-placeholder.png" %}');"></div>
            {% endif %}
            <div class="expert-name">{{ expert.full_name }}</div>
            </div>
            {% endfor %}
        </div>
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    </section>

  <!-- Кнопки заявлений -->
  <section class="container py-4">
    <h5 class="nok-apply-title">Заявление на подготовку к профессиональному экзамену</h5>
    <div class="apply-buttons">
      <a href="#" class="btn btn-nok">Заявление на подготовку эксперта к НОК</a>
      <a href="#" class="btn btn-nok">Заявление на подготовку специалиста к НОК</a>
    </div>
  </section>

  <!-- Оставить заявку -->
  {% include "landing/partials/form_request.html" %}

{% render_accordion "normative-toggle" "Нормативные документы в сфере обучения работников по ОТ" "landing/partials/accordions/accordion_normative_content.html" %}


</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
{% comment %} Слайдер экспертов {% endcomment %}
const swiper = new Swiper(".nok-swiper", {
  slidesPerView: 4,
  spaceBetween: 20,
  loop: true,
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev"
  },
  breakpoints: {
    320: { slidesPerView: 1 },
    768: { slidesPerView: 2 },
    992: { slidesPerView: 3 },
    1200: { slidesPerView: 4 }
  }
});
</script>

{% endblock %}
