{% extends "landing/base.html" %}
{% load static %}
{% load accordion_tags %} 

{% block title %}Аттестация специалистов по техническому диагностированию (ТД){% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'landing/css/preparation/style.css' %}">
{% endblock %}

{% block content %}
<section class="attestation container py-5">
  <h2 class="section-title mb-4">
    Подготовка специалистов в области промышленной безопасности
  </h2>

  <p>
    Учебный центр «Безопасность в промышленности» проводит предаттестационную подготовку руководителей и специалистов
    в области промышленной безопасности в соответствии с <a href ="#">Постановлением Правительства РФ № 13 от 13 января 2023 г.</a>,
    <a href ="#">Приказом Ростехнадзора № 459 от 26 ноября 2020 года и федеральным законом «О промышленной безопасности
    опасных производственных объектов» №116-ФЗ.</a>
  </p>

  <p>
    Предаттестационная подготовка осуществляется в соответствии с перечнем областей аттестации, утверждённым <a href ="#">Приказом
    Ростехнадзора № 285 от 9 августа 2023 года.</a>
  </p>
  <p>
    Все руководители и специалисты предприятий, эксплуатирующие опасные производственные объекты, должны проходить аттестацию через единый портал тестирования Ростехнадзора.
  </p>
  <p>
    Учебный центр проводит подготовку и тестирование с помощью обучающе-контролирующей системы «ОЛИМПОКС», «Вмиг.Эксперт», которые позволяют специалистам самостоятельно изучить материал и пройти тестирование в строгом соответствии с экзаменационными билетами (тестами) Ростехнадзора.
  </p>

  <h3 class="mt-5 mb-3">Цели и задачи аттестации в области промышленной безопасности</h3>

  <div class="attestation-goals">
    <div class="goal-card">
      <img src="{% static 'landing/img/check.svg' %}"class="goal-icon">
      <p>установить степень соответствия знаний специалиста требованиям, предъявляемым к занимаемой должности</p>
    </div>

    <div class="goal-card">
      <img src="{% static 'landing/img/check.svg' %}"class="goal-icon">
      <p>определить возможность допуска специалиста к выполнению должностных обязанностей</p>
    </div>

    <div class="goal-card">
      <img src="{% static 'landing/img/check.svg' %}"class="goal-icon">
      <p>повысить уровень компетентности сотрудника и улучшить качество выполняемых им работ</p>
    </div>
  </div>
  <h3 class="mt-5 mb-3">
    Кому необходимо проходить аттестацию в области промышленной безопасности
  </h3>
  <p>
    Перечень категорий работников, которым нужна аттестация в области промышленной безопасности
  </p>
  <p>
    <a href ="#">
Положения об аттестации в области промышленной безопасности, по вопросам безопасности гидротехнических сооружений, безопасности в сфере электроэнергетики, Постановление Правительства РФ № 13 от 13 января 2023 года, п.2:</a>
  </p>

  <ul>
    <li>руководители организаций (обособленных подразделений);</li>
    <li>лица, ответственные за производственный контроль на ОПО;</li>
    <li>руководители и ИТР предприятий, ответственные за строительство, реконструкцию, кап. ремонт, ликвидацию ОПО;</li>
    <li>лица, осуществляющие строительный контроль (строительство, реконструкция, ремонт ОПО);</li>
    <li>члены аттестационных комиссий организаций;</li>
    <li>иные категории работников, в соответствии с федеральными нормами и правилами.</li>
  </ul>
<div class="blue-section">
  <div class="container">
  <h3 class="mt-2 mb-2">Виды и установленные сроки проведения аттестации</h3>
  <p style="color: #4E4E4E">ФЗ №116 "О промышленной безопасности опасных производственных объектов", ст. 14.1, п.3, п.4</p>

  <ul>
    <li><strong>Первичная аттестация</strong></li>
    <li>в течение месяца с даты назначения сотрудника на должность</li>
    <li>сотрудник был переведен в другую должность, функционал которой требует аттестации по новым областям</li>
    <li>сотрудник переходит на другое предприятие, где новый функционал требует аттестации по новым областям</li>
    <p></p>
    <li><strong>Периодическая аттестация</strong></li>
    <p>Раз в 5 лет специалисты обязаны подтверждать свои знания в области промышленной безопасности  </p>
    <li><strong>Внеочередная аттестация</strong></li>
    <p>Внеочередная аттестация работников в области промышленной безопасности обязательна, если произошло нарушение со стороны работника. Нарушение фиксируется в актах результатов проведения технического расследования причин аварии на производстве.</p>
  </ul>
</div>
 </div>
  <!-- 🟤 Аккордеон -->
<div class="accordion-wrapper mt-5">
  <div class="accordion" id="attestationAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          В какой комиссии руководители и работники проходят аттестацию
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#attestationAccordion">
        <div class="accordion-body">
          <div class="table-wrap text-center">
            <table class="table table-bordered align-middle">
              <thead class="table-light">
                <tr>
                  <th>Комиссия</th>
                  <th>Кто проходит аттестацию</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Центральная аттестационная комиссия (ЦАК)</td>
                  <td>апелляции на решения, действия (бездействие) ТАК</td>
                </tr>
                <tr>
                  <td>Территориальные аттестационные комиссии Ростехнадзора (ТАК)<p style="font-weight:200">(п. 7 Положение № 13)</p></td>
                  <td>
                    <ul>
                    <li>члены аттестационных комиссий организаций, руководители производственной деятельностью</li>
                    <li>руководители и ИП; работники, ответственные за производственный контроль за соблюдением требований ПБ на ОПО, авторский надзор и строительный контроль на ОПО</li>
                    <li>работники предприятий, где нет своей комиссии</li>
                    <li>руководители и работники, направленные на внеочередную аттестацию</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Ведомственные аттестационные комиссии (ВАК),<p style="font-weight:200">(п. 6 Положение № 13)</p></td>
                  <td>
                    <ul>
                    <li>сотрудники Минобороны, ФСИН, ФСБ, ВСО, СВР, ГУСП (п. 6 Положения № 13)</li>
                    <li>сотрудники организаций, обеспечивающих безопасность государства</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Главные аттестационные комиссии (ГАК) организаций<p style="font-weight:200">(п. 10 Положение № 13)</p></td>
                  <td>
                    <ul>
                    <li>члены аттестационных комиссий организаций (обособленных подразделений)</li>
                    <li>руководители организации (обособленных подразделений)</li>
                    <li>ответственные за осуществление производственного контроля в ОП, ответственные за строительный контроль, авторский надзор и прочие ИТР организации руководители производственной деятельностью</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Единые аттестационные комиссии (ЕАК)<p style="font-weight:200">(п. 9 Положение № 13)</p></td>
                  <td>
                    <ul>
                    <li>члены главных аттестационных комиссий организаций</li>
                    <li>работники, ответственные за производственный контроль на ОПО,  авторский надзор и строительный контроль на ОПО, руководители производственной деятельностью</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="attestation-row">
  <span class="attestation-row__text">
    Как подать заявку на аттестацию в области промышленной безопасности в РТН через Госуслуги
  </span>
  <a href="#" class="attestation-row__btn">
    Скачать памятку
  </a>
</div>


  {% render_accordion "normative-toggle" "Какие сведения необходимо указывать в заявлении на аттестацию" "landing/partials/accordions/intelligence.html" %}

  {% render_accordion "normative-toggle" "Перечень документов и сведений, необходимых для подачи заявления на аттестацию в Ростехнадзоре через Госуслуги" "landing/partials/accordions/list_docs.html" %}
</section>

{% endblock %}

{% block extra_js %}
{{ block.super }}
{% endblock %}
