{% extends "landing/base.html" %}
{% load static %}
{% load accordion_tags %} 

{% block title %}Аттестация специалистов по техническому диагностированию (ТД){% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'landing/css/safety/style.css' %}">
{% endblock %}

{% block content %}

<section class="attestation-area py-5">
  <div class="container">
    <h4 class="attestation-title mb-4">Обучение по охране труда</h4>

    <p>
      Учебный центр "Безопасность в промышленности" проводит обучение по охране труда руководителей и специалистов предприятий на территории Российской Федерации.
    </p>
    <p>
      В связи со вступлением в силу с 1 сентября 2022 года нового порядка обучения по охране труда и проверки знания требований ОТ <a href="#" style="font-weight:400;">(Федеральный закон от 02.07.2021 № 311 «О внесении изменений в трудовой кодекс российской федерации»)</a>, который по-новому расставил приоритеты в вопросах обучения охраны труда, поставил перед работодателями новые задачи и обязанности. А также, согласно <a href="#" style="font-weight:400;">постановлению Правительства РФ № 2464 о 24.12.2021 г. «О порядке обучения по охране труда и проверки знания требований охраны труда»</a>, важно понимать, что от правильных действий ответственных за охрану труда зависит жизнь и здоровье работников и персонала, снижение уровня производственного травматизма и несчастных случаев. Уклонение от прохождения переподготовки влечет за собой серьезные последствия. Первая же проверка со стороны контролирующих органов выявит нарушение закона, за которым последует серьезное наказание.
    </p>
    <div class="notice">
      <div class="notice-icon">!</div>
      <div>
        <p>
          Штраф за допуск работника без обучения по охране труда (ст.5.27.1 ч.3 КоАП РФ)
        </p>
        <ul class="mb-0">
        <li>должностные лица — 15–25 тыс. руб.</li>
        <li>юридические лица — 110–130 тыс. руб.</li>
      </ul>
      </div>
    </div>

    <p>
      Учебный центр "Безопасность в промышленности" с 2016 года аккредитован Министерством труда и социальной защиты РФ на оказание услуг в области охраны труда, а также соответствует требованиям Постановления Правительства РФ №2334 от 16.12.2021 г. «Правил аккредитации организаций, индивидуальных предпринимателей, оказывающих услуги в области охраны труда, и требований к организациям и индивидуальным предпринимателям, оказывающим услуги в области охраны труда».
    </p>
    <p>
      Учебный центр зарегистрирован в реестре аккредитованных организаций, оказывающих услуги в области охраны труда, под регистрационным номером № 4383(обучение работодателей и работников вопросам охраны труда).
    </p>

    <p>
      <a href="#" class="text-decoration-underline">Уведомление об аккредитации (письмо Минтруда)</a><br>
      <a href="#" class="text-decoration-underline">Выписка из Реестра организаций, оказывающих услуги в области охраны труда</a>
    </p>
    <div class="blue-section">
      <div class="container">
        <h3 class="mt-0 mb-4">Цели и задачи обучения руководителей и специалистов по охране труда (ОТ)</h3>
        <p class="mt-0 mb-4">Получение базовых знаний является обязательным условием для деятельности любой компании. Организация охраны (ОТ) труда нацелена на предотвращение профзаболеваний и травм. Требования к безопасности на предприятии устанавливаются Минтрудом РФ. Контроль за их соблюдением возлагается на руководителей организации и специалистов по ОТ.</p>
        <p><strong>Вопросам обучения по охране труда необходимо уделять особое внимание, так как от уровня организации ОТ на предприятии зависит жизнь и здоровье сотрудников.</strong></p>
      </div>
    </div>
    <!-- АККОРДЕОН -->
    <div class="accordion-wrapper mt-5">
  <div class="accordion" id="occupationalAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingPrograms">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsePrograms" aria-expanded="false" aria-controls="collapsePrograms">
          Перечень программ по охране труда
        </button>
      </h2>
      <div id="collapsePrograms" class="accordion-collapse collapse" aria-labelledby="headingPrograms"
        data-bs-parent="#occupationalAccordion">
        <div class="accordion-body">
          <div class="table-wrap text-center">
            <table class="table table-bordered align-middle">
              <thead class="table-light">
                <tr>
                  <th style="width: 60%">Программы по охране труда</th>
                  <th style="width: 22%">Сроки обучения</th>
                  <th style="width: 18%">Стоимость, руб.</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Охрана труда «Программа А»<br>
                    <span class="desc">Общие вопросы охраны труда и функционирования системы управления охраной труда</span>
                  </td>
                  <td>от 16 часов<br>(2–4 дня)</td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    Охрана труда «Программа Б»<br>
                    <span class="desc">Безопасные методы и приёмы выполнения работ при воздействии вредных и (или) опасных производственных факторов, источников опасности, идентифицированных в рамках специальной оценки условий труда и оценки профессиональных рисков</span>
                  </td>
                  <td>от 16 часов<br>(2–4 дня)</td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    Охрана труда «Программа В»<br>
                    <span class="desc">Безопасные методы и приёмы выполнения работ повышенной опасности, к которым предъявляются дополнительные требования в соответствии с нормативными правовыми актами, содержащими государственные нормативные требования охраны труда</span>
                  </td>
                  <td>от 16 часов<br>(2–4 дня)</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Использование (применение) средств индивидуальной защиты</td>
                  <td>от 8 часов<br>(1–2 дня)</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Оказание первой помощи пострадавшим</td>
                  <td>от 8 часов<br>(1–2 дня)</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% render_accordion "normative-toggle" "Кому требуется обучение по ОТ, установленные сроки проверки знания требований ОТ" "landing/partials/accordions/safety1.html" %}

{% render_accordion "normative-toggle" "Порядок обучения по ОТ, формы обучения" "landing/partials/accordions/safety2.html" %}

<div class="documents-list mt-4">
  <h4 class="mb-4">Перечень документов, предоставляемых заявителем</h4>
  <ul class="docs-ul list-unstyled">
    <li>
      <img src="{% static 'landing/img/check.svg' %}" alt="✓" class="check-icon">
      <a href="#" class="doc-link">заявка скачать</a>
    </li>
    <li>
      <img src="{% static 'landing/img/check.svg' %}" alt="✓" class="check-icon">
      диплом (копия)
    </li>
    <li>
      <img src="{% static 'landing/img/check.svg' %}" alt="✓" class="check-icon">
      СНИЛС (копия)
    </li>
  </ul>
</div>


{% render_accordion "normative-toggle" "Нормативные документы в сфере обучения работников по ОТ" "landing/partials/accordions/safety3.html" %}
</section>
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% endblock %}
