{% extends "landing/base.html" %}
{% load static %}
{% load accordion_tags %} 

{% block title %}Аттестация специалистов по техническому диагностированию (ТД){% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'landing/css/TD/style.css' %}">
{% endblock %}

{% block content %}
<div class="TD-page">

  <section class="container advantages-wrapper">
    {% if page == "TD" %}
    <h2 class="page-title">Аттестация специалистов по техническому диагностированию (ТД)</h2>
    <p class="lead-text">
      АНО ДПО "УЦ "Безопасность в промышленности" проводит подготовку и аттестацию по очной и дистанционной форме обучения специалистов по техническому диагностированию для предприятий, эксплуатирующих опасные производственные объекты
    </p>
    <p class="lead-text"><a href="{% static '#' %}" target="_blank">
        Свидетельство об аккредитации № НОА-0071* от 31.07.2020 г. 
      </a>
      (приложение от 23.11.2023 на 64 листах)</p>
    {% elif page == "IO" %}
        <h2 class="page-title">Аттестация экспертов инспекционных организаций</h2>
    <p class="lead-text">
      АНО ДПО "УЦ "Безопасность в промышленности" проводит подготовку и аттестацию по очной и дистанционной форме обучения кандидатов в эксперты инспекционных организаций в области промышленной безопасности.
    </p>
    <p class="lead-text">
      Учебный центр в 2023 году расширил аккредитацию на следующие области:
    </p>
    <p class="lead-text">
      13. Аудит промышленной безопасности<br>
      14. Аудит собственников и (или) эксплуатирующих организаций по требованиям обеспечения безопасности гидротехнических сооружений (ГТС) (за исключением судоходных и портовых гидротехнических сооружений)
    </p>
    <p class="lead-text"><a href="{% static '#' %}" target="_blank">
        Свидетельство об аккредитации № НОА-0071* от 31.07.2020 г. 
      </a>
      (приложение от 23.11.2023 на 64 листах)</p>
      {% elif page == "NK" %}
              <h2 class="page-title">Аттестация лабораторий неразрушающего контроля</h2>
    <p class="lead-text">
      Учебный Центр «Безопасность в промышленности» является независимым органом по аттестации лабораторий неразрушающего контроля на основании <a href="{% static '#' %}" target="_blank">
        Свидетельства об аккредитации № 10197 от 23.11.2023 г.
      </a>  и проводит аттестацию лабораторий неразрушающего контроля в соответствии с требованиями правил <a href="{% static '#' %}" target="_blank">
        СДАНК-01-2020 
      </a> "Правила аттестации и основные требования к лабораториям неразрушающего контроля".
    </p>
    <p class="lead-text">
      Аттестация лаборатории неразрушающего контроля (ЛНК) необходима для подтверждения соответствия организации, проводящей неразрушающий контроль, требованиям промышленной безопасности, а также федеральным нормам и правилам. Это дает возможность проводить работы на опасных производственных объектах.
    </p>
     {% endif %}
  </section>

  {% include "landing/partials/steps.html" %}
{% if page == "TD" or page == "IO" %}
  <section class="documents-section container py-5">
    <h3 class="section-title mb-4">
      Перечень необходимых документов на проведение аттестации в качестве
      специалиста по техническому диагностированию
    </h3>

    <ul class="documents-list">
      <li>
        <img src="{% static 'landing/img/check.svg' %}" alt="" class="icon" />
        <span>
          <a href="#" class="doc-link">
            заявление на проведение аттестации кандидата в специалисты по техническому диагностированию
          </a>
        </span>
      </li>

      <li>
        <img src="{% static 'landing/img/check.svg' %}" alt="" class="icon" />
        <span>
          диплом о высшем техническом или естественно-научном образовании (заверенная копия)
        </span>
      </li>

      <li>
        <img src="{% static 'landing/img/check.svg' %}" alt="" class="icon" />
        <span>
          выписка из протокола об аттестации по промышленной безопасности (А, Б1-Б11, Г1-Г3)
        </span>
      </li>

      <li>
        <img src="{% static 'landing/img/check.svg' %}" alt="" class="icon" />
        <span>
          справка о стаже работы (выписка из трудовой книжки), подтверждающая работу по специальности
          в соответствии с заявленной областью аттестации
        </span>
      </li>

      <li>
        <img src="{% static 'landing/img/check.svg' %}" alt="" class="icon" />
        <span>
          перечень работ в соответствии с заявленной областью аттестации, а также не менее двух заключений,
          в которых кандидат принимал участие
        </span>
      </li>

      <li>
        <img src="{% static 'landing/img/check.svg' %}" alt="" class="icon" />
        <span>согласие на обработку персональных данных</span>
      </li>

      <li>
        <img src="{% static 'landing/img/check.svg' %}" alt="" class="icon" />
        <span>две цветные фотографии (3×4)</span>
      </li>

      <li>
        <img src="{% static 'landing/img/check.svg' %}" alt="" class="icon" />
        <span>
          дополнительные сведения, подтверждающие компетенцию кандидата в эксперты
        </span>
      </li>
    </ul>
  </section>

  <section class="preparation-section container">
    <div class="notice">
      <div class="notice-icon">!</div>
        <p>
          Комплект документов каждого кандидата анализируется с целью определения их достаточности и полноты для допуска кандидата к экзаменам. В случае, если комплект документов не соответствует требованиям СДА -12-2009 и требованиям, предъявляемым кандидату органом по сертификации персонала, кандидату сообщается о необходимости предоставления дополнительной информации либо об отказе в аттестации.
        </p>
    </div>
  </section>
  {% elif page == "NK" %}
  <section class="attestation-area container">
  <h3 class="attestation-title">Область аттестации</h3>

  <div class="attestation-grid">
    <!-- Левая колонка -->
    <div class="attestation-card">
      <h4>Объекты контроля:</h4>
      <ol>
        <li>Оборудование, работающее под избыточным давлением</li>
        <li>Системы газоснабжения (газораспределения)</li>
        <li>Подъемные сооружения</li>
        <li>Объекты горнодобывающей промышленности</li>
        <li>Объекты угольной промышленности</li>
        <li>Оборудование нефтяной и газовой промышленности</li>
        <li>Оборудование металлургической промышленности</li>
        <li>Оборудование взрывоопасных и химических производств</li>
        <li>Объекты железнодорожного транспорта</li>
        <li>Объекты хранения и переработки зерна</li>
        <li>Здания и сооружения (строительные объекты)</li>
        <li>Оборудование электроэнергетики</li>
      </ol>
    </div>

    <!-- Правая колонка -->
    <div class="attestation-card">
      <h4>Виды (методы) неразрушающего контроля:</h4>
      <ol>
        <li>Радиационный</li>
        <li>Ультразвуковой (УК)</li>
        <li>Акустико-эмиссионный (АЭ)</li>
        <li>Магнитный (МК)</li>
        <li>Вихретоковый (ВК)</li>
        <li>Проникающими веществами:
          <ol class="sub-numbered">
            <li>Капиллярный (ПВК)</li>
            <li>Течеискание (ПВТ)</li>
          </ol>
        </li>
        <li>Вибродиагностический (ВД)</li>
        <li>Электрический (ЭК)</li>
        <li>Тепловой (ТК)</li>
        <li>Оптический (ОК)</li>
        <li>Визуальный и измерительный (ВИК)</li>
      </ol>
    </div>
  </div>

  <div class="attestation-card bottom">
    <h4>Виды деятельности:</h4>
    <ol class="columns">
      <li>Изготовление</li>
      <li>Строительство</li>
      <li>Эксплуатация</li>
      <li>Монтаж</li>
      <li>Ремонт</li>
      <li>Реконструкция</li>
      <li>Техническое диагностирование, обследование, экспертиза</li>
      <li>Техническое освидетельствование</li>
    </ol>
  </div>
</section>

  {% endif %}
      <section class="apply-section container">
        {% if page == "TD" %}
        <h5 class="apply-title">Заявление на проведение аттестации кандидата в специалисты по техническому диагностированию</h5>
        <div class="text-center mt-3">
          <a href="#" class="btn btn-nok">Заявление на проведение аттестации</a>
        </div>
        {% elif page == "IO" %}
        <h5 class="apply-title">Заявление на проведение аттестации экспертов инспекционных организаций</h5>
        <div class="text-center mt-3">
          <a href="#" class="btn btn-nok">Заявление на проведение аттестации</a>
        </div>
        {% elif page == "NK" %}
        <h5 class="apply-title">Заявление на проведение аттестации экспертов инспекционных организаций</h5>
        <div class="text-center mt-3">
          <a href="#" class="btn btn-nok">Заявление на проведение аттестации лабораторий неразрушающего контроля</a>
        </div>
        {% endif %}
      </section>




{% include "landing/partials/form_request.html" %}
{% if page == "TD" or page == "IO" %}
<section class="attestation-procedure container py-5">
  <h3 class="section-title">
    Процедура аттестации экспертов инспекционных организаций
    соответствует требованиям п.4 СДА-12-2009 и включает:
  </h3>

  <ul class="procedure-list">
    <li>
      подачу заявителем заявления на аттестацию кандидата в эксперты и прилагаемых к нему документов
      в соответствии с приложением 1 настоящих Правил (СДА-12-2009);
    </li>
    <li>
      регистрацию заявления в НОА, уведомление заявителя о получении заявления;
    </li>
    <li>
      проведение НОА анализа заявления, достаточности и полноты прилагаемых к нему документов,
      направление заявителю сообщения о сроках проведения аттестации и при необходимости запроса
      о предоставлении дополнительной информации;
    </li>
    <li>заключение договора на проведение аттестации;</li>
    <li>проведение квалификационного экзамена, оценку результатов экзамена;</li>
    <li>
      принятие решения о возможности аттестации (отказе в аттестации) и присвоении кандидату в
      эксперты соответствующей квалификации;
    </li>
    <li>
      оформление, регистрацию и выдачу удостоверения эксперта, а также подписание соглашения
      о сотрудничестве между НОА и экспертом — при положительном решении;
    </li>
    <li>
      письменное сообщение заявителю о невозможности аттестации с указанием причин — при
      отрицательном решении;
    </li>
    <li>
      передачу сведений об аттестованных экспертах в Орган по аккредитации для включения их в
      реестр;
    </li>
    <li>периодический контроль деятельности эксперта.</li>
  </ul>
</section>
{% endif %}

{% if page == "TD" %}
{% render_accordion "normative-toggle" "Квалификационный экзамен и аттестация специалистов по ТД" "landing/partials/accordions/examTD.html" %}
{% render_accordion "normative-toggle" "Квалификационный экзамен и аттестация специалистов по ТД" "landing/partials/accordions/examTD2.html" %}
{% elif page == "IO" %}
{% render_accordion "normative-toggle" "Квалификационный экзамен и аттестация экспертов ИО" "landing/partials/accordions/examIO.html" %}
{% render_accordion "normative-toggle" "Нормативные документы в сфере аттестации экспертов ИО" "landing/partials/accordions/examTD2.html" %}
{% elif page == "NK" %}
{% render_accordion "normative-toggle" "Что подтверждает аттестация" "landing/partials/accordions/NK.html" %}
{% render_accordion "normative-toggle" "Виды и сроки аттестации лабораторий НК" "landing/partials/accordions/NK2.html" %}
{% render_accordion "normative-toggle" " Основная информация по аттестации лабораторий НК" "landing/partials/accordions/NK3.html" %}
{% render_accordion "normative-toggle" "Порядок аттестации лабораторий НК" "landing/partials/accordions/NK4.html" %}
{% endif %}

{% if page == "NK" %}
  <section class="preparation-section container">
    <div class="notice">
      <div class="notice-icon">!</div>
      <div>
        <h3>
          ВАШИ ПРЕИМУЩЕСТВА ПРИ РАБОТЕ С НАМИ
        </h3>
          <ul>
    <li>демократичная ценовая политика</li>
    <li>оптимальные сроки аттестации</li>
    <li>возможность параллельного проведения работ в смежных областях:
 <br>– аттестация специалистов НК
 <br>– аттестация экспертов в области промышленной безопасности
 <br>– сдача экзаменов по правилам промышленной безопасности
 <br>– аккредитация экспертных организаций и др.</li>
    <li>качественное выполнение работ</li>
    <li>подробные консультации по всем вопросам аттестации лабораторий НК</li>
  </ul>
    </div>
    </div>
  </section>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% endblock %}
