@use "../variables" as *;

/* ===== ОБЩЕЕ ===== */
.callback-modal {
  background: $card;
  border-radius: 36px !important;
  padding: 50px 40px 45px;
  position: relative;
  overflow: hidden;
  width: 560px;
  margin: 0 auto;
}

.callback-step {
  width: 366px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.callback-step h5,
.callback-step p {
  text-align: left;
}


/* ===== ТЕКСТЫ ===== */
.callback-modal h5 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.callback-modal p {
  font-size: 1rem;
  color: #4E4E4E;
  margin-bottom: 2rem;
  line-height: 1.3;
}

/* ===== ФОРМА ===== */
.callback-modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

/* ===== ИНПУТЫ ===== */
.callback-input {
  border-radius: 40px;
  height: 64px;
  font-size: 1rem;
  transition: all 0.2s ease;
  max-width: 366px;
  width: 100%;
  padding-left: 24px;
  padding-right: 50px;
}

.callback-input:focus {
  border-color: $orange;
  box-shadow: none;
}

/* ===== ИКОНКИ ВНУТРИ ===== */
.callback-modal .form-group {
  position: relative;
  width: 100%;
  max-width: 380px;
}

.callback-modal i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 26px;
}

/* ===== КНОПКА ===== */
.callback-submit-btn {
  background-color: $orange;
  border-radius: 40px;
  padding: 16px 20px;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
  width: 100%;
  max-width: 380px;
}

.callback-submit-btn:hover {
  background-color: $hover_orange;
}

/* ===== КРЕСТИК ===== */
.btn-close {
  opacity: 0.6;
  transition: opacity 0.2s ease;
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 20px;
}

.btn-close:hover {
  opacity: 1;
}

/* ===== ГАЛОЧКА ===== */
.checkmark-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.checkmark {
  font-size: 42px;
  color: #28a745;
  border: 2px solid #28a745;
  border-radius: 10px;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== АДАПТИВ ===== */
@media (max-width: 480px) {
  .callback-modal {
    padding: 35px 20px 30px;
    border-radius: 28px !important;
  }

  .callback-modal h5 {
    font-size: 1.4rem;
  }

  .callback-input {
    height: 56px;
    font-size: 0.95rem;
  }

  .callback-submit-btn {
    font-size: 0.95rem;
    padding: 12px 16px;
  }
}
