@use "./../variables" as *;
@use "./../partials/pagination" as *;
@use "./../partials/form"as * ;
// @use "./../partials/programs" as *;
@use "./../partials/accordion" as *;
@use "./../partials/qualifications_list" as *;

@use "footer" as *;
@use "header" as *;
@use "modal" as *;


html, body {
    overflow-x: hidden;
    max-width: 100%;
    font-family: 'Inter', sans-serif;
}

/* Исправляем контейнер */
.container {
    max-width: 1400px;
}

/* Исправляем строки */
.row {
    margin-left: 0;
    margin-right: 0;
}