@use './../variables' as *;
@use './../partials/pagination' as *;
@use './../partials/form' as *;
// @use "./../partials/programs" as *;
@use './../partials/accordion' as *;
@use './../partials/qualifications_list' as *;
@use './../partials/steps' as *;

@use 'footer' as *;
@use 'header' as *;
@use 'modal' as *;

// === Sticky footer fix ===
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

main {
  flex: 1;
}
