.nok-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  line-height: 1.4;
  border-radius: 10px;
  overflow: hidden;

  th {
    padding: 12px 16px;
    font-weight: 600;
    text-align: left;
    color: black;
  }

  td {
    padding: 12px 16px;
    vertical-align: top;
    color: black;
  }

  tr.gray td {
    background: #e3e1e1;
  }

  tr:nth-child(even):not(.gray) td {
    background: #b0c9fc;
  }
}
.nok-table {
  color: #000 !important;
  * {
    color: #000 !important;
    opacity: 1 !important;
  }
}

table.nok-table,
table.nok-table * {
  color: #000 !important;
  opacity: 1 !important;
}
