{% load static %}

<ul class="content">
  <li>Приказ Минтруда России от 16.12.2020 № 911н «Об утверждении профессионального стандарта “Специалист в сфере промышленной безопасности”»</li>
  <li>Федеральный закон от 21.07.1997 № 116-ФЗ «О промышленной безопасности опасных производственных объектов»</li>
  <li>Приказ Ростехнадзора от 20.10.2020 № 420 «Об утверждении федеральных норм и правил в области промышленной безопасности “Правила проведения экспертизы промышленной безопасности”»</li>
  <li>Приказ Ростехнадзора от 20.02.2024 № 60 «О внесении изменений в федеральные нормы и правила в области промышленной безопасности “Правила проведения экспертизы промышленной безопасности”»</li>
  <li>Федеральный закон от 25.12.2023 № 637-ФЗ «О внесении изменений в Федеральный закон “О промышленной безопасности опасных производственных объектов” и отдельные законодательные акты Российской Федерации»</li>
  <li>Федеральный закон от 03.07.2016 № 238-ФЗ «О независимой оценке квалификации»</li>
  <li>Постановление Правительства РФ от 16.11.2016 № 1204 «Об утверждении Правил проведения центром оценки квалификаций независимой оценки квалификации в форме профессионального экзамена»</li>
  <li>Приказ Минтруда России от 19.12.2016 № 759н «Об утверждении требований к центрам оценки квалификаций и Порядка отбора организаций для наделения их полномочиями по проведению независимой оценки квалификации и прекращения этих полномочий»</li>
  <li>Постановление от 27.06.2016 № 584 «Об особенностях применения профессиональных стандартов в части требований, обязательных для применения государственными внебюджетными фондами Российской Федерации…»</li>
  <li>Приказ Минтруда России от 01.11.2016 № 601н «Об утверждении Положения о разработке оценочных средств для проведения независимой оценки квалификации»</li>
  <li>Приказ Минтруда России от 01.12.2016 № 701н «Об утверждении Положения об апелляционной комиссии по рассмотрению жалоб…»</li>
  <li>Приказ Минтруда России от 02.12.2016 № 706н «Об утверждении образца заявления для проведения независимой оценки квалификации и Порядка подачи такого заявления»</li>
  <li>Приказ Минтруда России от 11.07.2022 № 410н «Об утверждении Положения о разработке наименований квалификаций…»</li>
  <li>Приказ Минтруда России от 12.12.2016 № 725н «Об утверждении формы бланка свидетельства о квалификации…»</li>
  <li>Приказ Минтруда России от 14.12.2016 № 729н «Об утверждении Порядка осуществления мониторинга и контроля в сфере независимой оценки квалификации»</li>
  <li>Приказ Минтруда России от 15.11.2016 № 649н «Об утверждении Порядка формирования и ведения реестра сведений…»</li>
  <li>Приказ Минтруда России от 19.12.2016 № 758н «Об утверждении Примерного положения о совете по профессиональным квалификациям…»</li>
</ul>
