{% load static %}

<ul class="content">
    <li>устное или письменное обращение заявителя (организации-работодателя кандидата или самого кандидата) в Экзаменационный центр АНО ДПО «УЦ «Безопасность в промышленности» (далее Экзаменационный центр) с целью получения информации об условиях и сроках аттестации;</li>
    <li>представление заявителю информации с перечнем требуемых документов;</li>
    <li>направление заявителем заявки в Экзаменационный центр с приложением документов (в соответствии с п. 5.3 СДАНК-02-2022);</li>
    <li>регистрация заявки в Экзаменационном центре, уведомление заявителя о получении заявки и определение трудоемкости выполнения работ по аттестации;</li>
    <li>проведение Экзаменационным центром анализа заявки, достаточности и полноты представленных документов, принятие решения по ним; направление заявителю сообщения о сроках проведения аттестации и, при необходимости, запроса о предоставлении дополнительной информации;</li>
    <li>проведение экзаменов, оценка результатов экзаменов;</li>
    <li>анализ результатов и принятие решения о возможности присвоения кандидату соответствующего квалификационного уровня;</li>
    <li>при положительном решении: оформление, регистрация и выдача удостоверения;</li>
    <li>при отрицательном решении заявителю сообщается о невозможности аттестации с указанием причин.</li>
  </ul>
  <p>Заявитель документально подтверждает достоверность персональной информации о кандидате, включая сведения об образовании, общей и специальной подготовке, времени непрерывной деятельности по заявленному методу (виду) НК.</p>
</div>