{% load static %}
<div class="content">
  <p><strong>Квалификационный экзамен проводится согласно п.7.1 СДА-12-2009</strong></p>

  <p><strong>Квалификационный экзамен включает следующие части:</strong></p>

  <ul>
    <li>часть I — письменный общий;</li>
    <li>часть II — письменный специальный;</li>
    <li>часть III — письменный практический;</li>
    <li>часть IV — устный (собеседование).</li>
  </ul>

  <p>Экзамен проводится согласно п.7.1 СДА-12-2009 с целью подтверждения достаточности теоретической и практической подготовки, компетентности и других профессиональных знаний.</p>

  <p>В случае положительного решения аттестационной комиссии Независимый орган по аттестации и аттестованный эксперт (специалист) подписывают соглашение о сотрудничестве, в котором оговариваются их взаимоотношения в течение срока действия квалификационного удостоверения.</p>

  <p>В случае принятия аттестационной комиссией отрицательного решения в письменном виде оформляется мотивированный отказ в аттестации.</p>

  <p>На основании положительного решения аттестационной комиссии Независимый орган по аттестации оформляет квалификационное удостоверение установленного образца, в котором указывается область аттестации эксперта. (п. 8.3 СДА-12-2009)
    <a href="#">Образец удостоверения</a>
  </p>

  <p><strong>Срок действия квалификационного удостоверения составляет не более трёх лет.</strong> (п.8.3 СДА-12-2009)</p>

  <p>При прохождении кандидатом в эксперты в течение срока действия квалификационного удостоверения аттестации в дополнительной области ему выдается новое квалификационное удостоверение с другим номером, действующее наряду с уже имеющимся.</p>

  <p>В случае утраты или порчи квалификационных удостоверений, срок которых ещё не истёк, орган по аттестации по заявлению организации-заявителя может выдать квалификационное удостоверение с отметкой «Дубликат».</p>

  <p>При переходе эксперта на работу из одной организации в другую должна быть проведена его переаттестация (п. 8.9. СДА-12-2009).</p>

  <p>По окончанию аттестации эксперт подписывает соглашение о сотрудничестве (Приложение 6 СДА-12-2009). При нарушении соглашения о сотрудничестве аттестованным экспертом НОА приостанавливает или отменяет аттестацию эксперта, размещают эту информацию на интернет-сайте органа по аккредитации, а также в средствах массовой информации.</p>

  <p><strong>Повторная сертификация экспертов ИО</strong></p>
  <p>Процедура повторной сертификации после окончания срока действия квалификационного удостоверения аналогична процедуре первичной сертификации.</p>

  <p><strong>Конфиденциальность</strong></p>
  <p>Персонал органа по аттестации обеспечивает конфиденциальность информации, полученной в результате проводимых работ, по отношению к заявителю.</p>

  <p>Информация о конкретном кандидате, полученная в ходе аттестации, не становится достоянием третьих лиц без письменного согласия кандидата.</p>

  <p>Эффективная система менеджмента и качества Учебного центра «Безопасность в промышленности» гарантирует объективность и беспристрастность оценки уровня квалификации кандидатов и экспертов.</p>
</div>
