
{% load static %}
<div class="content">
  <p>Подать заявление о проверке знаний в комиссии Ростехнадзора может только работодатель или Индивидуальный предприниматель. С 2021 года аттестацию можно пройти по экстерриториальному принципу в любой территориальной аттестационной комиссии Ростехнадзора (распоряжение Правительства РФ от 16 февраля 2021 года № 373-р)</p>

  <p><strong>Что нужно указать в заявлении:</strong></p>

  <ul style="font-weight:400;">
    <li>наименование ТАК</li>
    <li>данные заявителя: название организации, ИНН, юридический и фактический адреса, контактный телефон и email</li>
    <li>сведения о работнике: ФИО, дата рождения, СНИЛС, контактный телефон, email, должность и данные документа, удостоверяющего личность</li>
    <li>область или области аттестации</li>
    <li>причина аттестации — первичная, периодическая, внеочередная</li>
    <li>должностные обязанности или функции аттестуемого лица</li>
    <li>реквизиты удостоверения о ПК в области промышленной безопасности (при необходимости)</li>
  </ul>


</div>
