{% load static %}

<ul class="content">
  <li>прием заявки на аттестацию ЛНК </li>
  <li>заключение договора на проведение работ по проверке документов, подтверждающих соответствие организации установленным требованиям и условиям;</li>
  <li>анализ заявки и документов, представленных заявителем для аттестации; </li>
  <li>проверка и оценка заявителя на месте;</li>
  <li>анализ всех материалов по аттестации ЛНК на предмет достаточности и полноты содержания;</li>
  <li>подготовка отчета и принятие решения о передаче документов в Комиссию по аттестации;</li>
  <li>принятие Комиссией по аттестации решения об аттестации (или об отказе в аттестации);</li>
  <li>оформление, регистрация и выдача заявителю свидетельства об аттестации;</li>
  <li>инспекционный контроль и мониторинг функционирования за деятельностью аттестованных лабораторий в течение срока действия свидетельства об аттестации в период от 12 до 18 месяцев после аттестации или продления аттестации;</li>
  <li>заключение договора на инспекционный контроль</li>

</ul>
