{% load static %}
<div class="content safety">
  <p>Учебный центр "Безопасность в промышленности" проводит обучение очно или дистанционно без отрыва от производства по доступным ценам в удобное время.</p>
  <p>Изучение законодательных нормативных актов занимает важное место в обучающем курсе. Знания нормативных документов помогут специалистам и руководителям в практической деятельности проводить все мероприятия по охране труда в рамках закона.</p>
  <p>Специалисты учебного центра помогут определить, какая конкретно программа необходима для изучения охраны труда сотрудникам Вашей компании, а также помогут составить список должностей тех работников, которым необходимо пройти обучение по охране труда.</p>
  <p>Курсы обучения рассчитаны от 8 до 40 часов. Специально разработанные программы предусматривают изучение основ организации охраны труда на производстве и отработку навыков по устранению опасности.<br>Занятия ведутся опытными, квалифицированными преподавателями в аудиториях с наглядными пособиями и техническими средствами для лучшего восприятия учебного материала.</p>
  <p>Благодаря дистанционной форме обучения, слушатели могут получить необходимый объем знаний без отрыва от выполнения служебных обязанностей. Применяются программы системы «Олимпокс» и программы «Vmig.expert». <br>Индивидуальный подход, актуальные учебные материалы, видеоматериалы, обеспечивают хорошее качество получаемых слушателями знаний.</p>
  <p>После прохождения курса обучения и успешного тестирования работники получают выписку из протокола заседания единой комиссии по проверке знания требований охраны труда работников.</p>
  <p>Выписка из протокола образец документа для просмотра (в разработке)</p>





</div>
