
{% load static %}
<div class="content safety">

  <ul style="font-weight:400;">
    <li><a href="#">Трудовой кодекс РФ N 197-ФЗ от 30.12.2001</a></li>
    <li><a href="#">"О внесении изменений в Трудовой кодекс РФ N 311-ФЗ от 02.07.2021 г.</a></li>
    <li><a href="#">ПП РФ № 2464" О порядке обучения по охране труда и проверки знания требований охраны труда" от 24.12.2021 г.</a></li>
    <li><a href="#">ПП РФ №2334 от 16.12.2021 г. «Правил аккредитации организаций, индивидуальных предпринимателей, оказывающих услуги в области охраны труда, и требований к организациям и индивидуальным предпринимателям, оказывающим услуги в области охраны труда».</a></li>
  </ul>


</div>
