@use '../variables' as *;

.threed-gallery {
  max-width: 1400px;
  margin: auto;

  .threed-gallery-swiper {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 600px;
    }

    .threed-gallery__image {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
      display: block;
      object-fit: contain;
      border-radius: 20px;
    }
  }
  /* Стрелки */
  .threed-gallery-prev,
  .threed-gallery-next {
    color: #000;
    width: 40px;
    height: 40px;

    &::after {
      font-size: 24px;
    }
  }
}

.threed-gallery {
  position: relative;

  .threed-gallery-prev,
  .threed-gallery-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background: none;
    border: none;
    z-index: 10;
    cursor: pointer;
    transition: filter 0.3s ease, opacity 0.3s ease;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      filter: brightness(0) saturate(100%) invert(97%) sepia(5%) saturate(47%) hue-rotate(314deg)
        brightness(97%) contrast(86%);
      transition: all 0.2s ease;
    }

    &:hover::after {
      filter: brightness(0) saturate(100%) invert(44%) sepia(22%) saturate(0%) hue-rotate(195deg)
        brightness(95%) contrast(90%);
    }
  }

  .threed-gallery-prev {
    left: 25px;
    top: 430px;

    &::after {
      background-image: url('../../img/left.svg');
    }
  }

  .threed-gallery-next {
    right: 25px;
    top: 430px;

    &::after {
      background-image: url('../../img/right.svg');
    }
  }
}

@media (max-width: 1000px) {
  .threed-gallery {
    .threed-gallery-prev,
    .threed-gallery-next {
      display: none !important;
    }
  }
}

.threed-gallery__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
